.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mainContainer span {
  color: #E63950;
}

.mainContainer p {
  color: #7C8388;
}

.mainContainer img {
  height: 40vh;
  margin: 20px 0 40px;
  transition: transform 0.2s ease-in-out;
}

.mainContainer img:hover {
  transform: scale(1.05);
}
