footer {  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #BBC0C4;
}

.title {
  color: #7C8388;
}

.list {
  display: flex;
  gap: 20px;
}

.email {
  color: #FF6B6B;
}

.github {
  color: white;
}

.linkedin {
  color: #4D9DE0;
}

.email,
.github,
.linkedin {
  font-size: 25px;
  transition: transform 0.2s ease-in-out;
}

.email:hover,
.github:hover,
.linkedin:hover {
  transform: scale(1.2);
  cursor: pointer;
}
